alabaster==0.7.12
argon2-cffi==20.1.0
attrs==20.3.0
Babel==2.8.0
backcall==0.2.0
bleach==3.2.1
blis==0.4.1
boto3==1.16.18
botocore==1.19.18
catalogue==1.0.0
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
coverage==5.3
cycler==0.10.0
cymem==2.0.4
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
filelock==3.0.12
flake8==3.8.4
future==0.18.2
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
json-lines==0.5.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-server==1.2.0
jupytext==1.7.0
kiwisolver==1.1.0
llvmlite==0.34.0
markdown-it-py==0.5.6
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
murmurhash==1.0.4
nbconvert==5.6.1
nbformat==5.0.8
nltk==3.5
notebook==6.1.5
numba==0.51.2
numpy==1.18.5
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
plac==1.1.3
preshed==3.0.4
prometheus-client==0.8.0
prompt-toolkit==2.0.10
ptyprocess==0.6.0
pyarrow==2.0.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.2
pynndescent==0.5.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
PyYAML==5.3.1
pyzmq==19.0.2
regex==2020.11.13
requests==2.24.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.9.1
Send2Trash==1.5.0
sentence-transformers==0.3.8
sentencepiece==0.1.94
six==1.15.0
snowballstemmer==2.0.0
spacy==2.3.2
Sphinx==3.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
-e git+https://github.com/atgmello/ml-challange-2020.git@00ebd41a33c849facc4f99c396eb3ef0d9584ee7#egg=src
srsly==1.0.4
terminado==0.8.3
testpath==0.4.4
thinc==7.4.1
thrift==0.13.0
tokenizers==0.8.1rc2
toml==0.10.2
torch==1.7.0
tornado==6.1
tqdm==4.51.0
traitlets==4.3.3
transformers==3.3.1
typing-extensions==3.7.4.3
umap-learn==0.4.6
urllib3==1.25.11
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
zipp==1.2.0
